@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #0d0d0d;
  --color-t-white: #ffffff;
  --color-t-black: #000000;
  --color-t-font: #9d8cb0;
}
